.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 24px;
}

/* ProjectListItem */

.projectListItemContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 18px;
}

.projectListItemInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.projectListItemTitle{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}

.projectListItemDescription{
    font-size: 14px;
    color: #575757;
    margin-bottom: 4px;
}

.projectListItemAdditionalInfo{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 12px;
}

.projectListItemTasksCount{
    font-size: 14px;
    color: #575757;
    margin-right: 6px;
}

.projectListItemUsersCount{
    font-size: 14px;
    color: #575757;
    margin-left: 6px;
}

.projectListItemActions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}

.projectListItemIcon {
    margin-left: 6px;
}

@media only screen and (max-width: 1000px){
    .projectListItemContainer{
        width: 90vw;
    }
  }